 *{
    outline: 1px solid red;
} 

body {
  background-color: cornsilk;
}

.site-title{
    font-size: 8rem;
    /* margin-top: 25vh; */
}
.site-subtitle{
    font-size: 3rem;
}

.flex{
    display:flex;
}


.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text{
    text-align: center;
}

.center-social-icons{
    display:flex;
    align-content: center;
}

.columnize{
    flex-direction: column;
}

.bg-blue{
    background-color: #53BDFF;
}

.fourty-percent-height{
     min-height: 30rem; 
}

a i{
    color: #FFF;
}

#icon-row{
    font-size: 10rem;
    /* margin-top: 2rem; 
    margin-bottom: 2rem;  */
}

#icon-row, a i{
    /* margin-left: 8rem;
    margin-right: 8rem; */
    /* margin-top: 5rem; */
}

#icon-row a i:hover{
    color:lightgray;
}

#linkedin-icon{
    margin-left: 6rem;
    margin-right: 6rem;
}

.transparent{
    background-color: rgba(0,0,0,0.0)
}


.white-text{
    color: white;
}
.borderless {
    border-style: none;
}

.bump-left{
    margin-right: 10rem;
}

.bump-down{
    margin-top: 4rem;
}

.top-background-image{
     background-image:url(https://res.cloudinary.com/dvh7zccln/image/upload/v1500587535/Boise_Spring_Cityscape_wgfosk.jpg);
     height: 70vh;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat; 
     background-size: cover;
}

.second-background-image{
     background-image:url(http://res.cloudinary.com/dvh7zccln/image/upload/v1500229449/SHP_1885_sdgata.jpg);
     height: 100vh;
     background-position: center;
     background-attachment: fixed;
     background-repeat: no-repeat; 
     background-size: cover;
}


.flex-row{
    display: flex;
    flex-direction: row;
}

.spacer{
    height: 5vh;
}

.social-tile-wrapper{
}

.portfolio-title{
    font-size: 6rem;
}
.portfolio-subtitle{
    font-size: 4rem;
}

.portfolio-icon{
    font-size: 4rem;
    display: flex;
    justify-content: space-around;
}

.project-thumbnail{
    /* width:300px;
    height:200px; */
    
}

.card-wrapper{
    background-color: #FFF;
    padding: 2rem;
}

.card-text{
    margin-top: 1rem;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.card-description{

}

.services{
    margin-top: 2rem;
}